<div [class]="classCssHeader">
  <div [class]="classCssHeaderLogo">
    <div>CDF</div>
  </div>
  <div [class]="classCssHeaderTitulo">{{ tituloCabecalho }}</div>

  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href=""><i class="tiny material-icons">home</i><span>Home</span></a></li>
        <li><a href=""><i class="tiny material-icons">attach_money</i><span>Lançamentos</span></a></li>
        <li><a href=""> <i class="tiny material-icons">person</i><span>Usuários</span></a></li>
      </ul>
    </div>
  </nav>
</div>
