<div class="box">

  <h4>Lançamentos</h4>

  <form class="example-form">
    <div class="box-cadastro">
      <div class="row">
        <div class="col s2"><b>Id:</b></div>
        <div class="col s10"><input matInput placeholder="ID do lançamento" value="{{this.id}}"></div>
      </div>
      <div class="row">
        <div class="col s2"><b>Usuário:</b></div>
        <div class="col s10"><input matInput placeholder="Usuário" value="{{this.usuario}}"></div>
      </div>
      <div class="row">
        <div class="col s2"><b>Tipo:</b></div>
        <div class="col s10"><input matInput placeholder="Tipo" value="{{this.tipo}}"></div>
      </div>
      <div class="row">
        <div class="col s2"><b>Descrição:</b></div>
        <div class="col s10"><input matInput placeholder="Descrição" value="{{this.descricao}}"></div>
      </div>
      <div class="row">
        <div class="col s2"><b>Valor:</b></div>
        <div class="col s10"><input matInput placeholder="Valor" value="{{this.valor}}"></div>
      </div>
      <div class="row">
        <div class="col s2"><b>Forma:</b></div>
        <div class="col s10"><input matInput placeholder="Forma" value="{{this.forma}}"></div>
      </div>
    </div>
  </form>
</div>
