<div class="box">

  <h4 *ngIf="editar">Lançamento - Editar</h4>
  <h4 *ngIf="!editar">Lançamento - Cadastro</h4>

  <div class="col s12">
    <div
      id="msg-cadastro"
      class="card-panel white-text"
      [class.red]="!this.isSuccess"
      [class.blue]="this.isSuccess"
      *ngIf="this.isShowMessage" >
      {{ this.message }}
    </div>
  </div>

  <form #form="ngForm" (submit)="cadastrar()">
    <div class="box-cadastro">
      <div class="row">
        <div class="col s2"><b>Id:</b></div>
        <div class="col s10">
          <input
          id="input-id"
          name="input-id"
          type="text"
          [(ngModel)]="this.lancamento.id"
          pattern=""
          #inputid="ngModel"
          required
          class="validate"
          readonly />
        </div>
      </div>
      <div class="row">
        <div class="col s2"><b>Usuário:</b></div>
        <div class="col s10">
          <input
            id="input-usuario"
            name="input-usuario"
            type="text"
            [(ngModel)]="this.lancamento.usuario"
            pattern=""
            #inputusuario="ngModel"
            required
            class="validate"
            placeholder="Nome do usuário"/>

          <div class="red-text" [hidden]="inputusuario.valid || inputusuario.untouched">
            Por favor, informe o nome do usário.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2"><b>Tipo:</b></div>
        <div class="col s10">
          <input
            id="input-tipo"
            name="input-tipo"
            type="text"
            [(ngModel)]="this.lancamento.tipo"
            pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)"
            #inputtipo="ngModel"
            required
            class="validate"
            placeholder="Entrada|Saída"/>

          <div class="red-text" [hidden]="inputtipo.valid || inputtipo.untouched">
            Por favor, informe o tipo de lançamento.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2"><b>Descrição:</b></div>
        <div class="col s10">
          <input
            id="input-descricao"
            name="input-descricao"
            type="text"
            [(ngModel)]="this.lancamento.descricao"
            pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
            #inputdescricao="ngModel"
            required
            class="validate"
            placeholder="Sapato"/>

          <div class="red-text" [hidden]="inputdescricao.valid || inputdescricao.untouched">
            Por favor, informe a descrição.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2"><b>Valor:</b></div>
        <div class="col s10">
          <input
            id="input-valor"
            name="input-valor"
            type="text"
            [(ngModel)]="this.lancamento.valor"
            pattern="^[1-9]\d{0,2}(\.\d{3})*,\d{2}$"
            #inputvalor="ngModel"
            required
            class="validate"
            placeholder="100,00"/>

          <div class="red-text" [hidden]="inputvalor.valid || inputvalor.untouched">
            Por favor, informe o valor.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2"><b>Forma:</b></div>
        <div class="col s10">
          <input
            id="input-forma"
            name="input-forma"
            type="text"
            [(ngModel)]="this.lancamento.forma"
            pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)"
            #inputforma="ngModel"
            required
            class="validate"
            placeholder="PIX|Dinheiro|Transferência|Cartão"/>

          <div class="red-text" [hidden]="inputforma.valid || inputforma.untouched">
            Por favor, informe a forma de lançamento.
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 40px;">
      <div class="col s6 left-align">
        <a class="waves-effect waves-light btn-small orange" (click)="voltarLista()">
          <i class="material-icons left">navigate_before</i>
          Voltar
        </a>
      </div>

      <div class="col s6 right-align">
        <button class="waves-effect waves-light btn-small orange" type="submit" [disabled]="!form.valid" >
          <i class="material-icons left">save</i>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
